<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>放行条</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link href="../assets/css/style-1.css" rel="stylesheet" type="text/css" />
		<script src="../assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/js/tab.js"></script>
		<link rel="stylesheet" href="../assets/css/style-1.css" />
	</head>

	<body>
		<section class="jq22-flexView">
			<header class="jq22-navBar jq22-navBar-fixed b-line">
				<a href="../../static/userhome.html" class="jq22-navBar-item">
					<i class="icon icon-return"></i>
				</a>
				<div class="jq22-center">
					<label for="" class="weui-label">放行条使用</label>
				</div>
			</header>
			<section class="jq22-scrollView">

				<div class="jq22-tab" data-ydui-tab>
					<ul class="tab-nav b-line">
						<li class="tab-nav-item tab-active">
							<a href="javascript:;"> <span>未使用</span> </a>
						</li>
						<li class="tab-nav-item">
							<a href="javascript:;"> <span>已使用</span> </a>
						</li>
						<li class="tab-nav-item">
							<a href="javascript:;"> <span>已过期</span> </a>
						</li>
					</ul>
					<div class="jq22-flex jq22-flex-search b-line">
						<div class="jq22-flex-box">
							<input type="text" placeholder="请输入完整车牌号">
						</div>
						<div class="jq22-button-btn">
							<button>登记</button>
						</div>
					</div>
					<div class="tab-panel">

						<!--
                        	作者：offline
                        	时间：2019-11-01
                        	描述：未使用
                        -->
                        <div id="pono">
						<div class="tab-panel-item tab-active">
							<a href="javascript:;" class="jq22-flex">
								<div class="jq22-price-nub">
									<div class="jq22-digit">
										<h2>10<em>小时</em></h2>
									</div>
									<div class="jq22-full">
										<p>当天有效</p>
									</div>
								</div>
								<div class="jq22-flex-box">
									<h2>车辆放行条</h2>
									<h3>有效期  2019.09.03</h3>
									
									<button>选中使用</button>
								</div>
								
							</a>

						</div>
						</div>

						<!--
                        	作者：offline
                        	时间：2019-11-01
                        	描述：已使用
                        -->
                        <div id="pono2">
						<div class="tab-panel-item tab-panel-item-clear">
							<a href="javascript:;" class="jq22-flex">
								<div class="jq22-price-nub">
									<div class="jq22-digit">
										<h2>10<em>小时</em></h2>
									</div>
									<div class="jq22-full">
										<p>当天有效</p>
									</div>
								</div>
								<div class="jq22-flex-box">
									<h2>车辆放行条</h2>
									<h3>有效期  2019.09.03</h3>
									<button>已使用</button>
								</div>
							</a>

						</div>
						</div>
						<!--
                        	作者：offline
                        	时间：2019-11-01
                        	描述：过期
                        -->
                        <div id="pon3">
						<div class="tab-panel-item tab-panel-item-clear">
							<a href="javascript:;" class="jq22-flex">
								<div class="jq22-price-nub">
									<div class="jq22-digit">
										<h2>10<em>小时</em></h2>
									</div>
									<div class="jq22-full">
										<p>当天有效</p>
									</div>
								</div>
								<div class="jq22-flex-box">
									<h2>车辆放行条</h2>
									<h3>有效期  2019.09.29</h3>
									<button>已过期</button>
								</div>
							</a>

						</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</body>

</html>